<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
    <body>
      {{> header}}
      <h1>Projects Page</h1>
      <p>
        This is the project page.
      </p>

      {{> footer}}
    </body>
</html>
